@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Monoton&display=swap");
* {
  box-sizing: border-box;
  margin-top: 10px; 
}
:root {
  /* --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352); */
  --gradient: linear-gradient(90deg, green, gold, #ee6352);
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(8, 8, 8);
  font-size: 1.25vw;
  background-color: rgb(214, 206, 206);
}

h1 {
  font-size: 5vw;
  color: #0f9;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "Holtwood One SC", serif;
  border: 3px solid gold;
  display: inline-block;
  margin: 0.25em 0 0.5em;
  border-radius: 5px;
  box-shadow: 0 1.5rem 0 -1rem blue, 0 3rem 0 -2rem tomato,
    0 4.5rem 0 -3rem purple;
  background-color: #1f2020;
}

h1 span {
  font-weight: 300;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
p span {
  font-size: 2rem;
  color: tomato;
  font-weight: bolder;
}

.btn {
  display: inline-block;
  padding: 10px 50px;
  background: #0f9;
  color: #111;
  text-decoration: none;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-weight: bolder;
  font-size: 12px;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: #00cc7a;
}
.container {
  margin: 50px;
  /* width: min(100% - 30px, 1200px); */
  /* min-width: 600px; */
  /* margin-inline: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
}
.container::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-image: url(img/familytree.jpg);
  background-size: cover;
  height: 100vh;
  opacity: 0.3;
}
pre {
  /* box-shadow: 0 1.5rem 0 -1rem blueviolet, 0 3rem 0 -2rem tomato; */
  box-shadow: 0 0 1rem 0 rgb(150, 104, 4);
  background-color: #020202;
  border-radius: 10px;
}
pre[class*="language-"] {
  background: #020202 !important;
}
.hero {
  text-align: center;
  position: relative;

  height: 100vh;
  padding: 0em;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 2rem 0 rgb(150, 104, 4);
  background-image: url(https://picsum.photos/id/1018/3264/2448);
  background-size: cover;
}

.steps {
  text-align: center;
  display: column;
  justify-content: space-around;
  flex-direction: row;
}
.fa-solid,
.fa-regular {
  color: gold;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: rgb(97, 23, 216);
  text-decoration: underline;
  font-weight: 800;
}
/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  body {
    background-color: rgb(160, 160, 226);
  }
  .container::before {
    content: "";
    background: rgb(194, 194, 247);
  }
  .scroll {
    opacity: 0;
  }
  .cta {
    margin-top: 2px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(247, 247, 110);
  }
}

.scroll {
  position: absolute;
  top: 75%;
  color: goldenrod;
}
.scroll p {
  color: goldenrod;
}
.chevron {
  position: relative;
  width: 20px;
  height: 4px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  color: goldenrod;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: goldenrod;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.cta {
  background: rgb(32, 32, 32);

  background: linear-gradient(90deg, rgb(39, 39, 38) 0%, rgb(80, 79, 78) 100%);

  background: -moz-linear-gradient(
    90deg,
    rgb(39, 39, 38) 0%,
    rgb(80, 79, 78) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(39, 39, 38) 0%,
    rgb(80, 79, 78) 100%
  );
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  border-radius: 10px;
}

.code-inst {
  color: rgb(247, 243, 243);
  background-color: #020202;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.req {
  color: tomato;
  font-style: italic;
}

.card {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-column: auto;
  /* grid-template-columns: 200px auto; */
  grid-template-columns: minmax(150px, 1fr) 3fr;
  gap: 50px 50px;
  padding: 1.5rem;
  margin: 10px;
}
.card-text {
  padding: 2px 16px;
  line-height: 1;
}
.card img {
  border-radius: 10px;
}
@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

h1 {
  /* font-size: 5rem; */
  font-weight: 900;
  color: rgb(247, 173, 14);

  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: rgb(63, 61, 61);
  --stroke-color: rgb(228, 228, 222);

  text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
      0px var(--stroke-color);
}
/* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
@supports (text-shadow: 1px 1px 1px 1px black) {
  h1 {
    text-shadow: var(--x-offset) var(--y-offset) 0px 0px var(--background-color),
      var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);
  }
}


.contact-form input[type=text], select, textarea, input[type=email] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius:5px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;}


.contact-form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #45a049;
}
.contact-form  {
  border-radius: 5px;
  background-color: #4e4b4b;
  padding: 20px;
}